.loading-skeleton span {
  background-color: #ddd;
  animation: loading 1.5s infinite;
  border-radius: 4px;

  display: inline-block;
}

.loading-skeleton {
  color: transparent;

  h2 > span {
    height: 1.3em;
  }

  h3, h2 {
    padding: 16px 0 0 0;
  }

  h3 > span {
    height: 1.2em;
  }

  p > span, span {
    height: 1em;
  }

  p {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
  }

  ul li {
    margin-bottom: 2px;
  }
}

@keyframes loading {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

span.w200px {
  width: 200px;
}

span.w300px {
  width: 300px;
}

span.w250px {
  width: 250px;
}

span.w200px {
  width: 200px;
}

span.w100px {
  width: 100px;
}

span.w100 {
  width: 100%;
}

span.w75 {
  width: 75%;
}

span.w30 {
  width: 30%;
}

span.h100px {
  height: 100px;
}

span.h150px {
  height: 150px;
}
